body {
    background-image: url("./iphonebg.png");
    font-family: 'Roboto', sans-serif;
    background-position: center;
    height: 100vh;
    width: auto;
    padding: 0px;
    margin: 0px;
    background-color: blue;
}

p{
    padding: 0;
    margin: 0;
    color: white;  
}

/* Heading  */
#headingDiv{
    position: absolute; top: 25%; left: 12%
}
#heading{
    font-family: Lora; 
    font-size: 50px;
    text-shadow: 2px 2px 10px  rgba(0, 0, 0, .3);
    /* rgba(0, 0, 0, .3)  */
}

#displayText {
    overflow-wrap: anywhere;
    font-size: 16px;
}


/* Loading Container  */
#appleIcon {
    font-size: 70px;
    color: white;
    opacity: 0.6s;
}

#loadingDiv {
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 46%;
    opacity: 0;
    align-items: center;
    position: absolute;
    height: fit-content;
    width: 120px;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}
#loadingDiv.show{
    opacity: 1;
}
#loadingDiv.hide{
    opacity: 0;
}

#loadingBar{
    height: 5px;
    margin-top: 20px;
   border-radius: 20px;
   width: 20px;
   background-color: #505050;
   width: 100px;
}

#loading{
    height: 100%;
    background-color: white;
    border-radius: 20px;
    width: 0%;
}



#contentDiv {
    height: 100%;
    opacity: 0;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}
#contentDiv.show{
    opacity: 1;
}




#container {
width: 100%;
max-height: 100vh;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
  }

#iphone {
    width: 250px;
    box-shadow: rgba(0, 0, 0, .5) 15px 28px 30px -18px;
    border-radius: 45px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    height: 555px;
}

#buttonDiv {
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#displayDiv {
    height: 40%;
    /* background-color: #D4D4D2; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green; */
}

#infoDisplayDiv{
    padding: 10px 0px 0px 30px;
    /* width: 100%; */
    font-size: 12px;
    height: 20px;
    /* background-color: red; */
}

#numberDisplayDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    text-align: right;
    overflow-wrap: anywhere;
    /* background-color: red; */
}

#leftSideDiv {
    width: 75%;
    background-color: red;
    height: 100%;
}

#rightSideDiv {
    padding: 4px;
    width: 25%;
    /* background-color: orange; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    margin: 3px;
}

/* Text  */
#value {
    color: white;
    font-size: 80px;
    padding: 0;
    margin: 0;
}



/* Buttons */
.zeroButton {
    background-color: #505050;
    border: none;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    padding-left: 23px;
    color: white;
    width: 120px; 
    cursor: pointer;
    height: 55px;
    border-radius: 60px;
}

.zeroButton:hover{
    background-color: #3f3f3f;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.topButton {
    background-color: #D4D4D2;
    color: #1c1c1c;
    border: none;
    height: 55px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    width: 55px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.topButton:hover{
    background-color: #c7c7c7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.rightButton {
    background-color: #FF9500;
    color: white;
    border: none;
    height: 55px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    width: 55px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.rightButton:hover{
    background-color: #ec8b02;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.numberButton {
    background-color: #505050;
    color: white;
    border: none;
    height: 55px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    width: 55px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.numberButton:hover{
    background-color: #3f3f3f;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#topButtons {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}







  






/* On Button  */
.onButton {
  align-self: center;
  background-color: #fff;
  background-image: none;
  position: absolute;
  left: 65%;
  top: 37%;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.onButton:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.onButton:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}