body {
    /* background-image: url("./bulbasor.png"); */
    background-image: url("./iphone.png");
    /* background-size:100% 100%; */
    background-position: center;
    height: 100vh;
    width: auto;
    /* background-color: blue; */
}


#container {
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
  }

#iphone {
    /* background-color: gray; */
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 555px;
}

#buttonDiv {
    /* background-color: blue; */
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#displayDiv {
    height: 40%;
    background-color: green;
}

#leftSideDiv {
    width: 75%;
    background-color: red;
    height: 100%;
}

#rightSideDiv {
    padding: 4px;
    width: 25%;
    /* background-color: orange; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    margin: 3px;
}

/* Buttons */
.zeroButton {
    background-color: #505050;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    padding-left: 23px;
    color: white;
    width: 120px; 
    cursor: pointer;
    height: 55px;
    border-radius: 60px;
}

.topButton {
    background-color: #D4D4D2;
    color: #1c1c1c;
    border: none;
    height: 55px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 55px;
    border-radius: 100%;
}

.rightButton {
    background-color: #FF9500;
    color: white;
    border: none;
    height: 55px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 55px;
    border-radius: 100%;
}

.numberButton {
    background-color: #505050;
    color: white;
    border: none;
    height: 55px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 55px;
    border-radius: 100%;
}

#topButtons {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fafafa;
    width: 230px;
    height: 400px;
}
  
  #numberButton {
    width: 50px;
    height: 50px;
    background: #fafafa
  }

#numberBtnDiv {
    height: 80%;
    display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
}

#value {
    color: red
}

